coffee-shop-test.css
coffee-shop-test.html
index (2).html
media-index.html
style (2).css
CSS/media-style.css
CSS/style.css
CSS/style2.css
CSS/style3.css
CSS/style4.css
CSS/style5.css
CSS/style6.css
Day 1/Day_1.html
Day 1/form_example.html
Day 1/list_examples.html
Day 1/website_example.html
Day 2/css_project.html
Day 2/embed_examples.html
Day 2/semantic_class_and_id.html
Day 3/coffee_website.html
Day 3/day3.html
Day 4/coffee-shop.html
Day 4/grids.html
Images/360_F_551345154_YiMKHXcKEOineXBmkmMMRktVRfyPba6T.jpg
Images/android-chrome-192x192.png
Images/meerkat-c5338ef2def39f783b720b0a0fe06ee0890488c2.jpg
Images/milan-menswear-fashion-week-4r2a8971s-jpgoriginal.jpg
Images/two-beautiful-woman-fashion-model-600nw-1686853369.jpg
Images/coffee-shop/accessories.jpg
Images/coffee-shop/cake-slice.jpg
Images/coffee-shop/coffee-icon.png
Images/coffee-shop/coffee-shop-main.jpg
Images/coffee-shop/espresso.jpg
Images/coffee-shop/macchiato.jpg
Images/coffee-shop/main-pic-1.jpg
Images/coffee-shop/main-pic-2.jpg
Images/coffee-shop/main-pic-3.jpg
Images/coffee-shop/tea.jpg
Sounds/230400_Jazz_Piano_Confident_NowThatsJazzJAZ013801.mp3
test/test-index.html
test/test.css
test/test.html
Tim's-Examples/Day 1 AM/index.html
Tim's-Examples/Day 1 AM/Task.txt
Tim's-Examples/Day 1 PM/Task.txt
Tim's-Examples/Day 1 PM/Block and Inline/index.html
Tim's-Examples/Day 1 PM/Forms/index.html
Tim's-Examples/Day 1 PM/Lists and Tables/index.html
Tim's-Examples/Day 2 AM/Task.txt
Tim's-Examples/Day 2 AM/Embedding/index.html
Tim's-Examples/Day 2 AM/Embedding/Assets/audio.mp3
Tim's-Examples/Day 2 AM/Embedding/Assets/Ray Keen - League Bowls Entry Form 2024.pdf
Tim's-Examples/Day 2 AM/Embedding/Assets/video.mp4
Tim's-Examples/Day 2 AM/IDs and Classes/index.html
Tim's-Examples/Day 2 AM/Semantic HTML/index.html
Tim's-Examples/Day 2 PM/index.html
Tim's-Examples/Day 2 PM/style.css
Tim's-Examples/Day 2 PM/Task.txt
Tim's-Examples/Day 3 AM/Task.txt
Tim's-Examples/Day 3 AM/Display/index.html
Tim's-Examples/Day 3 AM/Display/style.css
Tim's-Examples/Day 3 AM/Position/index.html
Tim's-Examples/Day 3 AM/Position/style.css
Tim's-Examples/Day 3 PM/Task.txt
Tim's-Examples/Day 3 PM/CSS Variables/index.html
Tim's-Examples/Day 3 PM/CSS Variables/style.css
Tim's-Examples/Day 3 PM/Em and Rem/index.html
Tim's-Examples/Day 3 PM/Em and Rem/style.css
Tim's-Examples/Day 4 AM/Task.txt
Tim's-Examples/Day 4 AM/Flexbox - Reference/index.html
Tim's-Examples/Day 4 AM/Flexbox - Reference/style.css
Tim's-Examples/Day 4 AM/Flexbox - Starter Files/index.html
Tim's-Examples/Day 4 AM/Flexbox - Starter Files/style.css
Tim's-Examples/Day 4 PM/Task.txt
Tim's-Examples/Day 4 PM/template.html
Tim's-Examples/Day 4 PM/Grid Demo 1/index.html
Tim's-Examples/Day 4 PM/Grid Demo 1/style.css
Tim's-Examples/Day 4 PM/Grid Demo 2/index.html
Tim's-Examples/Day 4 PM/Grid Demo 2/style.css
Tim's-Examples/Day 4 PM/Grid Demo 3/index.html
Tim's-Examples/Day 4 PM/Grid Demo 3/style.css
Tim's-Examples/Day 4 PM/Grid Demo 4/index.html
Tim's-Examples/Day 4 PM/Grid Demo 4/style.css
Tim's-Examples/Day 5 AM/Task.txt
Tim's-Examples/Day 5 AM/Media Queries Reference/index.html
Tim's-Examples/Day 5 AM/Media Queries Reference/style.css
Tim's-Examples/Day 5 AM/Media Queries Starter/index.html
Tim's-Examples/Day 5 AM/Media Queries Starter/style.css
Tim's-Examples/Day 5 AM/Responsive Grid Layout/index.html
Tim's-Examples/Day 5 AM/Responsive Grid Layout/style.css
Videos/beijing_city.mp4
JS/script.js
script.js
index.html
JS/js.html
comparitors.js
conditionals-and-comparitors.js
HTML/Day 1/Day_1.html
HTML/Day 1/form_example.html
HTML/Day 1/list_examples.html
HTML/Day 1/website_example.html
HTML/Day 1 AM/Task.txt
HTML/Day 1 PM/Task.txt
HTML/Day 2/css_project.html
HTML/Day 2/embed_examples.html
HTML/Day 2/semantic_class_and_id.html
HTML/Day 2 AM/Task.txt
HTML/Day 2 AM/Embedding/Assets/audio.mp3
HTML/Day 2 AM/Embedding/Assets/Ray Keen - League Bowls Entry Form 2024.pdf
HTML/Day 2 AM/Embedding/Assets/video.mp4
HTML/Day 2 PM/style.css
HTML/Day 2 PM/Task.txt
HTML/Day 3/coffee_website.html
HTML/Day 3/day3.html
HTML/Day 3 AM/Task.txt
HTML/Day 3 AM/Display/style.css
HTML/Day 3 AM/Position/style.css
HTML/Day 3 PM/Task.txt
HTML/Day 3 PM/CSS Variables/style.css
HTML/Day 3 PM/Em and Rem/style.css
HTML/Day 4/coffee-shop.html
HTML/Day 4/grids.html
HTML/Day 4 AM/Task.txt
HTML/Day 4 AM/Flexbox - Reference/style.css
HTML/Day 4 AM/Flexbox - Starter Files/style.css
HTML/Day 4 PM/Task.txt
HTML/Day 4 PM/template.html
HTML/Day 4 PM/Grid Demo 1/style.css
HTML/Day 4 PM/Grid Demo 2/style.css
HTML/Day 4 PM/Grid Demo 3/style.css
HTML/Day 4 PM/Grid Demo 4/style.css
HTML/Day 5 AM/Task.txt
HTML/Day 5 AM/Media Queries Reference/style.css
HTML/Day 5 AM/Media Queries Starter/style.css
HTML/Day 5 AM/Responsive Grid Layout/style.css
JS/arrays.js
JS/beginner-examples.js
JS/functions.js
JS/loops.js
JS/objects.js
JS/Password Generator/task.css
JS/Password Generator/task.html
JS/Password Generator/task.js
Materialize/materialize.css
Materialize/materialize.js
